@import "util/semantic";
@import "../../node_modules/bulma/sass/utilities/initial-variables";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* last blue: #403bce */
$blue: #403bce;
$red: #dd0300;

$primary: $blue;

h1, h2, h3, h4, h5, h6 {
  font-family: "halyard-display";
}

@import "../../node_modules/bulma/bulma";
@import "layout/home";
@import "layout/header";
@import "partials/pages-cards";
