<footer class="footer">
    <div class="container content has-text-centered">
        <div class="columns">
            <div class="column">
                <h6 class="tk-halyard-text" style="font-weight: bold">IMPORTANT LINKS</h6>
                <ul class="footer-links" style="list-style: none">
                    {{ nav from="/" depth="1" }}
                        <li>
                            <a href="{{ url }}">{{ title }}</a>
                        </li>
                    {{ /nav }}
                </ul>
            </div>
            <div class="column">
                <h6 class="tk-halyard-text" style="font-weight: bold">OUR PARTNERS</h6>
                <ul style="list-style: none">
                    <li>Link One</li>
                    <li>Link Two</li>
                    <li>Link Three</li>
                </ul>
            </div>
            <div class="column">
                <h6 class="tk-halyard-text" style="font-weight: bold">CONTACT INFO</h6>
                <ul style="list-style: none">
                    <li>Link One</li>
                    <li>Link Two</li>
                    <li>Link Three</li>
                </ul>
            </div>
        </div>
        </div>
</footer>