<section class="fullwidth-hero wtxt hero is-medium is-primary">
    <div class="hero-head">
        <header class="nav">
            <div class="container">
                <div class="nav-left">
                    {{ nav from="/" }}
                    <a href="{{ url }}" class="nav-item">
                        <h6 class="tk-halyard-text wtxt large padding-leftright">{{ title|upper }}</h6>
                    </a>
                    {{ /nav }}
                </div>
                <div class="nav-center nav-menu">
                </div>
                <div class="nav-right nav-menu">
                    <a href="https://www.facebook.com/ImmigrantTaxInquiryGroup/" class="nav-item icon padding-leftright">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://twitter.com/immigranttax" class="nav-item icon padding-leftright">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
            </div>
        </header>
    </div>
    <div class="hero-body">
        <div class="hero-body-container container has-text-centered">
            <figure class="image is-128x128">
                <img src="{{ homepage_global:below_fold_logo | join }}" alt="">
            </figure>
            <h1 class="tk-halyard-display" style="font-weight: 700; font-style: italic;">IMMIGRANT TAX<br/>INQUIRY GROUP</h1>
            <div class="tk-halyard-text" style="margin-top: 3rem; font-size: 20px;">
                <p>Just. Equitable. Fiscally sound.</p>
                <p>Immigration reform done better.</p>
                <a href="vision" tabindex="0" class="button is-danger tk-halyard-text margin-topbottom">VIEW THE PLAN</a>
            </div>
        </div>
    </div>
</section>
