<!-- Homepage hero section. Consists of nav-picture Vue element (main) and topical sidebar (aside) -->
<div class="homepage-hero-section columns is-full section">
    <!-- Featured content. Will eventually consist of a supernav, but for now it'll just be a nav and a featured image-->
    <main class="column is-8 left-content">
        <div id="main-content" class="is-full">
            <nav class="nav hero-nav container-fluid">
                <div class="nav-center">
                    {{ nav from="/" max_depth="2" }}
                    <a href="{{ url }}" class="nav-item hero-nav-item tk-europa">{{ title | upper }}</a>
                    {{ /nav }}
                </div>
            </nav>
            {{ collection:blog limit=1 }}
            <img src="{{ hero_image }}"/>
            {{ /collection:blog }}
        </div>
    </main>
    <!-- Aside. Should consist of [X] number of cards, each with a title and a short description of contents -->
    <aside class="column right-sidebar container">
        <div class="sidebar-card-wrapper columns">
            <div class="hero-form column is-full">
                {{ form:create in="ac-hero" }}
                    {{ if errors }}
                        <div class="alert alert-danger">
                            {{ errors }}
                                {{ value }}<br>
                            {{ /errors }}
                        </div>
                    {{ /if }}
                    {{ if success }}
                        <div class="alert alert-success">
                            Got it! Welcome to the family.
                        </div>
                    {{ /if }}

                    <div class="form-group field">
                        <p class="control">
                            <label for="first_name" class="label">First Name</label>
                            <input type="text" name="first_name" id="first_name" class="input">
                        </p>
                        <p class="control">
                            <label for="last_name" class="label">Last Name</label>
                            <input type="text" name="last_name" id="last_name" class="input">
                        </p>
                        <p class="text">
                            <label for="email" class="label">Email</label>
                            <input type="email" name="email" id="email" class="input">
                        </p>
                    </div>
                    <button>Submit</button>
                {{ /form:create }}
            </div>
        </div>
    </aside>
</div>
<!-- Content section. Four cards below homepage hero section, with images and links to relevant content. -->

<div class="featured-pages columns is-multiline is-full section">
    {{ relate:homepage_global:featured_pages }}
    <div class="sidebar-card column is-half">
        <div class="card">
            <div class="card-header">
                <h3 class="card-header-title">{{ title }}</h3>
            </div>
            <div class="card-content">
                <p>Analyze Immigrant Tax Inquiry Group's innovative approach to tax policy.</p>
            </div>
        </div>
    </div>
    {{ /relate:homepage_global:featured_pages }}

</div>

