<section class="section">
    <div class="container content">
        {{ press_kit_sections }}
        <div class="columns">
            <!-- Text/links column below-->
            <div class="column is-half">
                <div class="columns is-multiline has-text-right">
                    <div class="column is-half"></div>
                    <div class="column is-half">
                        <h1>{{ title }}</h1>
                    </div>
                    <div class="column"></div>
                    <div class="column is-three-quarters">{{ description }}</div>
                </div>
            </div>
            <!-- Image column below-->
            <div class="column is-half">Image</div>
        </div>
        {{ /press_kit_sections }}
    </div>
</section>