/* Full-Width Hero */


.fullwidth-hero {
  color: white;
}
.hero-foot .hero-foot-nav-link {
  color: white;
}

/* Homepage Sidebar Hero */
.hero-nav {
  background: #B22234;
  .hero-nav-item {
    margin: 0 3%;
    color: white;
  }
}

.hero-image-section {
  min-height: 66vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .hero-text {
    width: 40%;
  }
}
.sidebar-card-wrapper {
  display: flex;
  flex-direction: column;
}
