/* Hero Slider */

.fullwidth-hero {
  .hero-head {
    .nav {
      box-shadow: none;
      .nav-left {
        overflow: visible;
      }
      .nav-right {
        align-items: center;
      }
    }
  }
  .hero-body {
    h1 {
      font-weight: bold;
    }
  }
  a, i {
    color: white;
    margin: 0 .5rem;
    &:hover {
      color: $red;
    }
  }
}

/* Below-Fold Text Section  TODO: Refactor to "Email Signup"
 */

.below-fold {
  background: $primary;
  .below-fold-image {
    margin: 0 auto;
  }
  .home-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  label {
    color: white;
  }
  .email-signup {
    max-width: 40%;
    margin: 0 auto;
  }
}
/* Navigation */

.hero-nav {
  background: $red;
  .hero-nav-item {
    margin: 0 3%;
    color: white;
  }
}

/* BELOW CODE NOT CURRENTLY IN USE */
/* Homepage Sidebar Hero */

.hero-image-section {
  min-height: 66vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .hero-text {
    width: 40%;
  }
}
.sidebar-card-wrapper {
  display: flex;
  flex-direction: column;
}
