/* Semantic Rules */

.top-margin {
  margin-top: 1.5rem;
}

.side-padding {
  padding: 0 2rem;
}

.wtxt {
    color: white;
}

.padding-leftright {
  padding: 0 .5rem;
}

.tk-halyard-text .margin-topbottom {
  margin: 4rem 0 2rem;
}

.large {
  size: 1.5rem;
}