{{ unless is_home }}
<header class="itig-header is-primary">
    <div class="level">
        <div class="level-left">
            <div class="site-logo level-item">
                {{ assets path="assets" folder="site_img" }}
                    <a href="/" rel="nofollow">
                        <img src="{{ url }}" alt="{{ alt }}"/>
                    </a>
                {{ /assets }}
            </div>
        </div>
        <div class="level-center">
            <div class="site-title-wrap level-item">
                <a href="/">
                    <h3 class="site-title title is-3 is-two-thirds-mobile tk-halyard?-display">{{ site_name | upper }}</h3>
                </a>
            </div>
        </div>
        <div class="level-right social-media-icons">
            <p class="level-item">About</p>
            <p class="level-item">Plan</p>
            <p class="level-item">Contact</p>
        </div>
    </div>
</header>
{{ /unless }}
